.git
.gitmodules
.vs
.vscode
.idea

**/.classpath
**/.project
**/.settings
**/.toolstarget
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml

**/bin
**/obj
**/node_modules
**/dist
**/coverage

**/.env
**/.env.*
**/npm-debug.log
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

docker-compose*
charts/
secrets.dev.yaml
values.dev.yaml