<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/view/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TBlog</title>
    <script type="module" crossorigin src="/view/assets/index.82895e5d.js"></script>
    <link rel="modulepreload" href="/view/assets/vendor.18420dca.js">
    <link rel="stylesheet" href="/view/assets/index.07a51382.css">
  </head>
  <link rel="stylesheet" href="/view/adminlte/css/adminlte.min.css">
  <body class="hold-transition sidebar-mini">
    <div class="wrapper" id="app"></div>
    
  </body>
</html>
